extends layout

block content
  H1 Style Guide

  article
    h4
     p Bootstrap Buttons

     div.style-guide-element
       p .btn-primary
       button.btn.btn-primary(type='button') Button
       a.btn.btn-primary Anchor

     div.style-guide-element
       p .btn-primary:hover
       button.btn.btn-primary(type='button') Button:hover
       a.btn.btn-primary Anchor:hover

     div.style-guide-element
       p .btn-primary:active
       button.btn.btn-primary(type='button') Button:active
       a.btn.btn-primary Anchor:active

     div.style-guide-element
       p .btn-primary:focus
       button.btn.btn-primary(type='button') Button:focus
       a.btn.btn-primary Anchor:focus


     div.style-guide-element
       p .btn-default
       button.btn.btn-default(type='button') Button
       a.btn.btn-default Anchor


     div.style-guide-element
       p .btn-default
       button.btn.btn-default(type='button') Button
       a.btn.btn-default Anchor


     div.style-guide-element
       p .btn-default:hover
       button.btn.btn-default(type='button') Button:hover
       a.btn.btn-default Anchor:hover

     div.style-guide-element
       p .btn-default:active
       button.btn.btn-default(type='button') Button:active
       a.btn.btn-default Anchor:active

     div.style-guide-element
       p .btn-default:focus
       button.btn.btn-default(type='button') Button:focus
       a.btn.btn-default Anchor:focus


