article
 h4: p Bootstrap Primary Buttons

 div.style-guide-element
   p .btn-primary
   button.btn.btn-primary(type='button') Button
   a.btn.btn-primary Anchor

 div.style-guide-element
   p .btn-primary:hover
   button.btn.btn-primary.hover(type='button') Button:hover
   a.btn.btn-primary.hover Anchor:hover

 div.style-guide-element
   p .btn-primary:active
   button.btn.btn-primary.active(type='button') Button:active
   a.btn.btn-primary.active Anchor:active

 div.style-guide-element
   p .btn-primary:focus
   button.btn.btn-primary.focus(type='button') Button:focus
   a.btn.btn-primary.focus Anchor:focus


article
 h4: p Bootstrap Default Buttons

 div.style-guide-element
   p .btn-default
   button.btn.btn-default(type='button') Button
   a.btn.btn-default Anchor


 div.style-guide-element
   p .btn-default:hover
   button.btn.btn-default.hover(type='button') Button:hover
   a.btn.btn-default.hover Anchor:hover

 div.style-guide-element
   p .btn-default:active
   button.btn.btn-default.active(type='button') Button:active
   a.btn.btn-default.active Anchor:active

 div.style-guide-element
   p .btn-default:focus
   button.btn.btn-default.focus(type='button') Button:focus
   a.btn.btn-default.focus Anchor:focus
