article
  h4: p Bootstrap Dropdowns

  div.style-guide-element
    p Normal
    div.dropdown
      button.dropdown-toggle(data-toggle='dropdown')
        i.glyphicon.glyphicon-cog
        span Closed
      ul.dropdown-menu
        li(role='presentation'): a First Item



